<h1>The background is the same color as a basketball</h1>
<p>Just to make sure I can find this page again: app/views/landings/index.html.erb</p>

<img src= http://images.mstarz.com/data/images/full/7251/nba.jpg >
